@import '../../index.scss';

section.client-intro-wrapper {
  width: 100vw;
  height: 100vh;
  background: $primary-color;

  .goo-wrapper {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
}
