@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$primary-color: #082348;
$secondary-color: #021d44;
$accent-color: #ff3e55;
$overlay-color: #37619c;
$font-stack: 'Quicksand', sans-serif;
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
%text-large {
  font-size: 1.5em;
  width: 100%;
}
%text-small {
  font-size: 0.5em;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100vw;
  height: 100vh;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
}
